<div>
  <div>
    <h2>Query</h2>
    <div class="row">
      <div class="col-md-9 col-xs-9">
        <input ng-model="queryService.query" class="form-control mono-font" placeholder="Nombre"></input>
      </div>
      <div class="col-md-3 col-xs-3">
        <button class="btn btn-primary" ng-click="doQuery();"><i class="fa fa-table"></i></button>
      </div>
    </div>
  </div>
  <div ng-show="queryService.message.length > 0">
    <h3>Message</h3>
    <div ng-class="{ 'color-error': queryService.error }" class="row mono-font-light message-margin jumbotron">
      {{ queryService.message }}
    </div>
  </div>
  <div ng-show="queryService.columns.length > 0">
    <h3>Answer</h3>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> # </th>
            <th ng-repeat="column in queryService.columns track by $index"> {{column}} </th>
          </tr>
        </thead>
        <tr ng-repeat="tuple in queryService.tuples track by $index">
          <td>{{ $index }}</td>
          <td ng-repeat="value in tuple track by $index">{{ value }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
