.main-div {
  padding: 40px;
  padding-top: 80px;
}

.color-red {
  color: #B71C1C;
}

.color-blue {
  color: #1A237E;
}

.mono-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

.mono-font-light {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.navbar-inverse {
  background-color: #0D47A1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #1A237E;
}

.btn-primary {
  background-color: #0D47A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #1976D2;
}

.message-margin {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.color-error {
  color: #D32F2F;
}
